In [106]:
from QuadQuanta.data.mongodb_api import query_mongodb, save_mongodb

In [107]:
data = query_mongodb('QuadQuanta','double_limit_trend',format='pd')

In [109]:
data.describe()

,limit,next_open,next_close,next_high,next_low,next_two_open,next_two_close,next_two_high,next_two_low
count,1831.000000,1831.000000,1831.000000,1831.000000,1831.000000,1831.000000,1831.000000,1831.000000,1831.000000
mean,0.744402,2.317253,1.999678,7.020502,-2.832004,-0.539388,-0.110377,4.637428,-4.674227
std,0.882241,4.634878,6.734632,4.008305,5.389242,4.691369,6.827828,4.939229,4.794771
min,0.000000,-10.080000,-10.130000,-9.970000,-10.130000,-27.290000,-31.770000,-26.760000,-35.230000
25%,0.000000,-0.430000,-3.240000,4.770000,-6.980000,-3.260000,-5.345000,0.735000,-8.780000
50%,0.000000,1.950000,1.870000,9.400000,-3.590000,-0.640000,-0.850000,4.890000,-5.050000
75%,2.000000,5.440000,9.970000,10.000000,0.320000,1.550000,5.495000,9.960000,-2.190000
max,2.000000,10.240000,10.180000,10.240000,10.180000,10.130000,10.200000,12.420000,10.130000

In [108]:
data.head()

,code,next_date,limit,next_open,next_close,next_high,next_low,next_two_open,next_two_close,next_two_high,next_two_low
_id,,,,,,,,,,,
2021-01-05-002497,002497,2021-01-05,2,10.02,10.02,10.02,10.02,10.01,8.96,10.01,4.67
2021-01-05-600381,600381,2021-01-05,1,9.93,7.50,10.03,0.53,-4.81,-10.02,-2.75,-10.02
2021-01-05-002013,002013,2021-01-05,1,3.25,8.25,10.00,2.38,1.25,-1.69,3.89,-3.96
2021-01-05-600189,600189,2021-01-05,0,4.39,-9.53,6.06,-10.02,-2.33,-2.80,3.97,-5.27
2021-01-05-000591,000591,2021-01-05,1,6.25,-1.50,10.00,-6.12,3.81,5.08,8.50,-2.92

In [87]:
data = data[data['next_close'] < 9]

In [88]:
data

,code,next_date,limit,next_open,next_close,next_high,next_low,next_two_open,next_two_close,next_two_high,next_two_low
_id,,,,,,,,,,,
2021-01-05-600381,600381,2021-01-05,1,9.93,7.50,10.03,0.53,-4.81,-10.02,-2.75,-10.02
2021-01-05-002013,002013,2021-01-05,1,3.25,8.25,10.00,2.38,1.25,-1.69,3.89,-3.96
2021-01-05-600189,600189,2021-01-05,0,4.39,-9.53,6.06,-10.02,-2.33,-2.80,3.97,-5.27
2021-01-05-000591,000591,2021-01-05,1,6.25,-1.50,10.00,-6.12,3.81,5.08,8.50,-2.92
2021-01-05-600320,600320,2021-01-05,1,2.04,3.83,9.95,-2.55,-6.88,-9.34,-3.69,-10.07
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-26-000416,000416,2021-10-26,1,6.38,3.19,10.00,1.49,-1.65,-9.90,-0.21,-9.90
2021-10-26-002108,002108,2021-10-26,0,4.17,2.41,8.33,0.99,3.96,7.92,9.74,0.96
2021-10-28-603693,603693,2021-10-28,0,0.93,-8.10,1.55,-8.17,1.01,-3.64,1.99,-6.60
2021-10-28-605286,605286,2021-10-28,1,7.80,4.33,10.00,-0.37,1.97,10.02,10.02,1.97
2021-10-28-603922,603922,2021-10-28,0,-6.97,-9.99,-0.95,-9.99,-8.71,-8.89,-3.24,-9.50

In [89]:
len(data)

1104

In [101]:
res = data[data['next_two_close'] > data['next_two_open']]

In [105]:
(res[res['next_two_close'] > (res['next_low'] - res['next_close'])])

,code,next_date,limit,next_open,next_close,next_high,next_low,next_two_open,next_two_close,next_two_high,next_two_low
_id,,,,,,,,,,,
2021-01-05-000591,000591,2021-01-05,1,6.25,-1.50,10.00,-6.12,3.81,5.08,8.50,-2.92
2021-01-05-002625,002625,2021-01-05,1,10.01,1.23,10.01,-1.59,-1.86,10.01,10.01,-1.86
2021-01-05-000676,000676,2021-01-05,0,-3.68,-9.14,6.28,-9.14,-1.80,4.50,8.56,-5.26
2021-01-06-002497,002497,2021-01-06,1,10.01,8.96,10.01,4.67,1.73,3.21,5.35,-1.17
2021-01-06-600097,600097,2021-01-06,0,6.63,-3.40,6.63,-6.07,-0.00,1.76,7.12,-1.09
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-19-600435,600435,2021-10-19,0,1.29,-1.29,3.03,-2.48,1.21,1.86,2.88,-1.49
2021-10-20-002610,002610,2021-10-20,0,1.09,0.54,2.36,-2.72,0.90,1.62,4.14,-3.42
2021-10-21-000829,000829,2021-10-21,1,1.37,4.32,10.00,-2.26,0.14,3.20,7.19,-1.22
2021-10-26-002108,002108,2021-10-26,0,4.17,2.41,8.33,0.99,3.96,7.92,9.74,0.96
2021-10-28-605286,605286,2021-10-28,1,7.80,4.33,10.00,-0.37,1.97,10.02,10.02,1.97

In [91]:
res_data = data[data['next_two_open'] > -10]

In [92]:
len(res_data)

1084

In [93]:
len(res_data[res_data['next_two_close'] > res_data['next_two_low'] + 3])

561

In [94]:
res_data = res_data.assign(next_two_volia = res_data['next_two_high'] - res_data['next_two_low'])

In [95]:
print(res_data['next_two_volia'].quantile([0.25, 0.5, 0.75]))

0.25     6.5150
0.50     8.5400
0.75    11.2525
Name: next_two_volia, dtype: float64

In [96]:
res_data['next_two_volia'].mean()

9.099492619926199

In [97]:
res_data.iloc[:,-8:]

,next_close,next_high,next_low,next_two_open,next_two_close,next_two_high,next_two_low,next_two_volia
_id,,,,,,,,
2021-01-05-600381,7.50,10.03,0.53,-4.81,-10.02,-2.75,-10.02,7.27
2021-01-05-002013,8.25,10.00,2.38,1.25,-1.69,3.89,-3.96,7.85
2021-01-05-600189,-9.53,6.06,-10.02,-2.33,-2.80,3.97,-5.27,9.24
2021-01-05-000591,-1.50,10.00,-6.12,3.81,5.08,8.50,-2.92,11.42
2021-01-05-600320,3.83,9.95,-2.55,-6.88,-9.34,-3.69,-10.07,6.38
...,...,...,...,...,...,...,...,...
2021-10-26-000416,3.19,10.00,1.49,-1.65,-9.90,-0.21,-9.90,9.69
2021-10-26-002108,2.41,8.33,0.99,3.96,7.92,9.74,0.96,8.78
2021-10-28-603693,-8.10,1.55,-8.17,1.01,-3.64,1.99,-6.60,8.59
2021-10-28-605286,4.33,10.00,-0.37,1.97,10.02,10.02,1.97,8.05
2021-10-28-603922,-9.99,-0.95,-9.99,-8.71,-8.89,-3.24,-9.50,6.26

In [98]:
len(res_data[res_data['next_two_close'] > (res_data['next_high'] - res_data['next_close'])])

149